<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}" style=" margin: 0px; padding: 0px;">
      <div class="nav-logo-tudo" style="display: flex; margin: 0px; padding: 0px; column-gap: 10px;">
        <div class="nav-logo-img">
          <img src="/img/logo_branco.png" alt="" height="50" style="margin: 0; padding: 0;">
        </div>
        <div class="nav-logo-nome">
          <div class="nav-logo-nome-longo">
            <div>
              DCE Livre da USP
            </div>
            <div style="font-size: small;">
              Alexandre Vanucchi Leme
            </div>
          </div>
          <div class="nav-logo-nome-curto">
            <div>
              DCE
            </div> 
            <div style="font-size: small;">
              USP
            </div>
          </div>
        </div>
      </div>
      <!-- {{ site.title | escape }} -->
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/tribuna" | relative_url }}">Tribunas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/arquivos" | relative_url }}">Arquivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/sobre" | relative_url }}">Sobre</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
