---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div> -->
    <br><br>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">

        <section class="slider">

          <div class="seta arrow-left"><i class="fas fa-chevron-circle-left"></i></div>
    
            <img src="img/slider/slide1.jpg" alt="slide-1.jpg">
            <img src="img/slider/slide2.jpg" alt="slide-2.jpg">
            <img src="img/slider/slide3.jpg" alt="slide-3.jpg">
    
          <div class="seta arrow-right"><i class="fas fa-chevron-circle-right"></i></div>
        
        </section>
        
        <br><br>

        <b>DESTAQUE</b>
        <br>
        {% for post in site.posts limit : 1 %}
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="post-destaque" style="background-image: url('{{ post.background }}'); background-size: cover">
          <h2>{{ post.title }}</h2>

          <div class="post-destaque-infos">
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            &middot;
            {{ post.date | date: '%d.%m.%y' }}
            &middot;
            {% include read_time.html content=post.content %}
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-12 mx-auto">

        <br><br>

        <b>RECENTES</b>

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 offset : 1 %}

        <div class="row post-row" onclick="window.location.href = `{{ post.url | prepend: site.baseurl | replace: '//', '/' }}`">
          <div class="col-lg-3 post-preview-img" style="background-image: url('{{ post.background }}');"></div>
          <article class="post-preview col-lg-9 col-12">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle post-subtitle-desc">{{ post.subtitle }}</h3>
              {% else %}
              <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Por
              {% if post.author %}
                {{ post.author }},
              {% else %}
                {{ site.author }},
              {% endif %}
              em
              {{ post.date | date: '%d.%m.%y' }} &middot; {% include read_time.html content=post.content %}
            </p>
          </article>
        </div>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary cyan float-right pager-botao" href="{{"/tribuna" | relative_url }}">Ver mais &rarr;</a>
        </div>

      </div>
    </div>
  </div>
